<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
	<h2>Simple JSF</h2>
	<h:form>
		Por favor ingresa un nombre: <h:inputText value="#{user.name}" />
		<br/>
                <h:commandButton value="Submit" action="greeting" />
	</h:form>
</h:body>
</html>

